#array-container {
  text-align: center;
  font-size: 1.5rem;
}

#array-items-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  align-items: flex-end;
  height: 450px;
  padding: 1rem;
  margin: auto;
}

#array-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#array-button-container button {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  background-color: rgb(254, 197, 21);
}

#array-button-container button:hover {
  background-color: black;
}

#array-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem 2rem;
  margin: 4px;
}

.array-container-buttons {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  background-color: rgb(254, 197, 21);
}

.array-container-buttons:hover {
  background-color: #000;
}

#user-arr-size {
  width: 4rem;
  padding: 5px 8px 7px;
  background: #000;
  color: #fff;
}

#playback-speed {
  width: 5rem;
  padding: 5px 8px 7px;
  font-size: 0.9rem;
  border-radius: 0.4rem;
}

#array-length-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.array-items {
  width: 50px;
  margin: 2rem;
  background-color: lightblue;
}

.highlight-compare {
  background-color: orange;
}

.highlight-swap {
  background-color: red;
}

.highlight-placement {
  background-color: green;
}

.highlight-default {
  background-color: lightblue;
}
